.top-bg {
  background-image: url('../img/rest-bg.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-bg {
  background-image: url('../img/menu.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-bg {
  background-image: url('../img/contact.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.tabs {
  position: fixed;
}